  <div class="container_card">  
      <div class="card-img-top"> 
        <img src="https://www.meme-arsenal.com/memes/38f9366ebe183480a388201aae6a2212.jpg"  alt="альтернативный текст">
            </div>
            <div class="country-name">
              <h1 class="card-title"> название:   </h1>
            </div>
            <div class="country-capital">
              <h2 class="card-title"> Capital: {{capital}} </h2>
            </div>
            <div class="country-population">
              <h2 class="card-title"> Population: {{population}}   </h2>
            </div>
            <div class="country-language">
              <h2 class="card-title"> language:   </h2>
              {{!-- {{#each languages}}
              <ul class="list-groop"> 
                <li class="list-groop-item" > {{languages.languages}} </li>
              </ul>
              {{/each}} --}}
            </div>
          </div>