 <div class="container_card">  
      <div class="card-img-top"> 
        <img src="https://www.meme-arsenal.com/memes/38f9366ebe183480a388201aae6a2212.jpg"  alt="альтернативный текст">
            </div>
            <div class="country-name">
              <h2 class="card-title"> {{capital}}
   </h2>
            </div>
          </div>